body {
    background-color: #fff6ee;
}

#main-title {
    color: black;
    text-align: center;
}

#main-picture {
    text-align: center;
}

#main-picture img {
    max-height: 400px;
}

#main-description p {
    margin-top:20px;
}